<div class="page-header">
    <h4 class="text-center">Welcome Back {{userName}} </h4>
    <p class="text-center">Last login : {{lastLogin}}</p>
</div>

<div class="row">
    <div id='menBar' class="col-2 btn-group-vertical">
        <a routerLink="summary" routerLinkActive='active-link' class="list-group-item list-group-item-action">Account Summary</a>
        <a routerLink="activity" routerLinkActive='active-link' class="list-group-item list-group-item-action">Deposits</a>
        <a routerLink="activity" routerLinkActive='active-link' class="list-group-item list-group-item-action">{{eWalletId}}</a>
        <a routerLink="summary" routerLinkActive='active-link' class="list-group-item list-group-item-action">Credit Cards</a>
    </div>
   
    <router-outlet></router-outlet>    
</div>
