tr {
    line-height: 5px;
    min-height: 5px;
    height: 5px;
}

.active-link{
    background-color: aliceblue;
}

.darkText{
    color: black;
}

.activeButtonAccs{
    font-weight: bolder;
}

#menBar{
    justify-content: start;
}